.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /*box-sizing: border-box;
  display:block;*/
  background-color: #1A1A1A;
  height: 170px;
  padding: 20px;
  color: white;
}

.App-name {
  font-size: 1.5em;

}

.App-title {
  font-size: large;
  margin-bottom: 50px;
}

.App-contact {
  border-width: 2px;
  border-style: solid;
  border-color: #272727;
  background-color: transparent;
  transition: 0.1s background-color linear, 0.1s color linear;
  padding: 21px 34px;
  font-family: promixa-nova;
  font-size: 15px;
  font-weight: 400px;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding-left: 17px;
  padding-right: 17px;
  width: 150px;
  height:20px;
  margin: 0 auto;
  margin-top: 20px;

}

.App-video {
  padding-left: 17px;
  padding-right: 17px;
  margin-top: 30px;
 }
/*.react-player {
  position: absolute;
  top: 0;
  left: 0;
  background-color: 'red';
}*/


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
