/*.hamburgerMenu {
      width:30px;
      height:15px;
      border-radius:5px;
      position:absolute;
      margin-top:20px;
}

    .hamburgerMenu:after, .hamburgerMenu:before
      {
          content: '';
          width: 100%;
          height:5px;
          background-color:#ffffff;
          position:absolute;
          border-radius:5px;
      }

      .hamburgerMenu:after
      {
          top:10px;
      }

      .hamburgerMenu:before
      {
          top:20px;
      }*/


/*.hamburgerMenu {
  background: linear-gradient(to right, #fff, #fff) no-repeat;
  border-radius: 1px;
  background-position: center left;
  background-size: 100% 4px;
  position:absolute;
  margin-top: 10px;
  float:right;
  

  border: solid #fff;
  border-width: 4px 0;

  height: 15px;
  width: 28px;
}*/

.App-logo {
  margin-left: 44px;
}

/*button:focus {
  outline:0;
}*/

.hamburger-menu {
  /*position: absolute;*/
  float:right;
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; 
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

.hamburger--3dxy .hamburger-box {
  perspective: 80px; }

.hamburger--3dxy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dxy .hamburger-inner::before, .hamburger--3dxy .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dxy.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(180deg) rotateY(180deg); }
  .hamburger--3dxy.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dxy.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }



.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
}

.App-header {
  /*box-sizing: border-box;
  display:block;*/
  background-color: #26466D;
  height: 170px;
  padding: 20px;
  color: white;
}

.App-name {
  font-size: 1.5em;

}

.App-title {
  font-size: large;
  margin-bottom: 50px;
}

.App-contact {
  border-width: 3px;
  border-style: solid;
  border-color: #26466D;
  color: #26466D;
  background-color: transparent;
  transition: 0.1s background-color linear, 0.1s color linear;
  padding: 21px 34px;
  font-family: promixa-nova;
  font-size: 15px;
  font-weight: 500px;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding-left: 17px;
  padding-right: 17px;
  width: 150px;
  height:20px;
  margin: 0 auto;
  margin-top: 20px;

}

.App-video {
  padding-left: 17px;
  padding-right: 17px;
  margin-top: 30px;
 }
/*.react-player {
  position: absolute;
  top: 0;
  left: 0;
  background-color: 'red';
}*/


/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

nav {
  background-color: #1A1A1A;
  overflow: hidden;
  padding: 1em;

  a {
    color: #ffffff;
  }

  a:visited {
    color: #ff0000;
  }

  border-bottom: 1px solid #000;

  .navDesktop {
    display: none;
    margin: 0 auto;

    .DesktopDiv {
      text-align: center;

      a {
        text-decoration: none;
        display: inline-block;
        // Adjust padding to increase/decrease the space between links.
        padding: 0 2em;
      }
    }
  }

  // Navbar is set to default with the "hamburger" and links on the left
  // side of the screen. To move to the right of the screen, simply
  // change the three "float: Left;" references to read "float: right;".
  .navMobile {

    i {
      float: left;
      cursor: pointer;
      color: #FFF;

    }

    .mobileLinks {
      display: none;

      a {
        text-decoration: none;
        display: block;
        float: left;
        clear: left;
        padding: 0.5em 0;
      }
    }
  }
}

/*@media only screen and (min-width: 480px) {*/
  
  nav {

    .navWide {
      display: block;
    }

    .navNarrow {
      display: none;
    }
  }
/*}*/
